
.recipe .title {
	text-indent: 10px;
	font-size: 18pt;
}

.recipe .description {
	font-size: 12pt;
}

.ingredients ul {
    margin: 0;
    padding: 0;
}

.ingredients .ingredient {
    padding: 3px;
    margin: 2px;
    font-size: 12pt;
}

.recipe-detail .name {
    font-size: 22pt;
}

.recipe-detail .description {
    text-indent: 18px;
    font-size: 10pt;
}

.recipe-detail .recipe-steps {
    margin: 10px 0px;
    padding: 10px 0px;
}

.recipe-step {
    font-size: 14pt;
    margin: 15px 5px;
}