<!-- New recipe modal -->
<div class="modal-header">
    <h3 class="modal-title">New Recipe</h3>
</div>
<div class="modal-body">
    <div class="row">
        <label class="col-md-2">Recipe</label>

        <div class="col-md-10">
            <input type="text" class="form-control" ng-model="newRecipe.name">
        </div>
    </div>
    <div class="row">
        <label class="col-md-2">Description</label>

        <div class="col-md-10">
            <input type="text" class="form-control" ng-model="newRecipe.description">
        </div>
    </div>
    <div class="row">
        <label class="col-md-2">Prep time</label>

        <div class="col-md-4">
            <input type="number" class="form-control" ng-model="newRecipe.prepTime">
        </div>

        <label class="col-md-2">Cook time</label>

        <div class="col-md-4">
            <input type="number" class="form-control" ng-model="newRecipe.cookTime">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">Ingredients</div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" ng-click="addIngredient()">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button>
        </div>
    </div>
    <div class="row" ng-repeat="ingredient in newRecipe.ingredients">
        <div class="col-md-10">
            <input type="text" ng-model="ingredient.text" class="form-control"
                   ng-keypress="checkEnterIng($event, $index)">
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-default" ng-click="removeIngredient($index)">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">Steps</div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" ng-click="addStep()">
                <i class="glyphicon glyphicon-plus"></i> Add
            </button>
        </div>
    </div>
    <div class="row" ng-repeat="step in newRecipe.steps">
        <div class="col-md-10">
            <textarea ng-model="step.text" class="form-control" ng-keypress="checkEnterStep($event, $index)"></textarea>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-default" ng-click="removeStep($index)">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>