<!-- recipe list -->
<div class="container-fluid">
    <table class="table table-striped">
        <tr>
            <th>Recipe</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="recipe in recipes | orderBy: 'name'">
            <td>
                <a href="#/recipes/show/{{recipe.id}}" class="title">{{recipe.name}}</a>
                <span ng-if="recipe.options.isVegetarian" class="label label-success" tooltip="Vegetarian">VEG</span>
                <span ng-if="recipe.options.isVegan" class="label label-info" tooltip="Vegan">V</span>
                <span ng-if="recipe.options.isCrockPot" class="label label-danger" tooltip="Crock Pot">C</span>
                <span ng-if="recipe.options.isGlutenFree" class="label label-warning" tooltip="Gluten free">GF</span>
                <span ng-if="recipe.options.isDairyFree" class="label label-primary" tooltip="Dairy free">DF</span>
            </td>
            <td>
                {{recipe.description}}
            </td>
            <td>
                    <a class="btn btn-sm btn-primary" tooltip="Edit this recipe" href="#/recipes/edit/{{recipe.id}}">
                        <i class="glyphicon glyphicon-edit"></i> Edit
                    </a>
            </td>
        </tr>
    </table>
</div>