<!-- recipe list -->
<div class="container-fluid">
    <table class="table table-striped">
        <tr>
            <th>Recipe</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="recipe in recipes | orderBy: 'name'">
            <td>
                <a href="#/recipes/show/{{recipe.id}}" class="title">{{recipe.name}}</a>
            </td>
            <td>
                {{recipe.description}}
            </td>
            <td>
                    <a class="btn btn-sm btn-primary" tooltip="Edit this recipe" href="#/recipes/edit/{{recipe.id}}">
                        <i class="glyphicon glyphicon-edit"></i> Edit
                    </a>
            </td>
        </tr>
    </table>
</div>