<!-- Template for downloading recipes -->
<div class="modal-header">
    <h3 class="modal-title">Download</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input class="form-control" ng-disabled="isDownloading" ng-model="recipeUrl"
                       placeholder="Enter the recipe URL here.">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="isDownloading" ng-click="download()">
        <i class="glyphicon glyphicon-repeat normal-right-spinner" ng-show="isDownloading"></i> OK
    </button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>