<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h2 class="cookbook-logo"><img src="img/cookbook-logo.png"> cookbook</h2>
            <h4><b>{{recipeCount}}</b> recipes inside</h4>
            <search-box on-select="$root.selectRecipe({recipe: recipe })"></search-box>
            <div class="btn-group">
                <button class="btn btn-primary" ng-click="$root.createRecipe()">Create</button>
                <button class="btn btn-success" ng-click="$root.downloadRecipe()">Download</button>
            </div>
        </div>
    </div>
</div>
