<!-- recipe list -->
<div class="lock-size" layout="row" layout-align="center center">
    <md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right md-hover-full" md-open="menu.isOpen"
                       ng-mouseenter="menu.isOpen=true" ng-mouseleave="menu.isOpen=false">
        <md-fab-trigger>
            <md-button class="md-fab md-primary" aria-label="Search" href="#/home">
                <md-tooltip md-direction="left" md-visible="tooltipVisible">Search</md-tooltip>
                <md-icon md-svg-icon="img/search.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>
</div>
<div layout="row" layout-align="center">
    <md-list flex="80">
        <md-list-item ng-repeat="recipe in recipes | orderBy: 'name'">
            <div class="md-list-item-text">
                <a href="#/view/{{recipe.id}}" class="title">{{recipe.name}}</a>
                <i ng-if="recipe.options.isVegetarian" class="glyphicon glyphicon-leaf" style="color: green"
                   tooltip="Vegetarian"></i>
                <i ng-if="recipe.options.isVegan" class="glyphicon glyphicon-leaf" style="color: brown" tooltip="Vegan"></i>
                <i ng-if="recipe.options.isCrockPot" class="glyphicon glyphicon-time" tooltip="Crock Pot"></i>
                <i ng-if="recipe.options.isGlutenFree" class="glyphicon glyphicon-grain" style="color: #a08300"
                   tooltip="Gluten free"></i>
                <i ng-if="recipe.options.isDairyFree" class="glyphicon glyphicon-tint" style="color: blue"
                   tooltip="Dairy free"></i>
            </div>
        </md-list-item>
    </md-list>
</div>
