<md-autocomplete
        md-no-cache="true"
        md-selected-item="$ctrl.selectedItem"
        md-selected-item-change="$ctrl.selectRecipe(recipe)"
        md-items="recipe in $ctrl.getRecipes(searchText)"
        md-item-text="recipe.name"
        md-search-text="searchText"
        md-min-length="0"
        md-autofocus
        placeholder="Find some recipes">
    <md-item-template>
        <span md-highlight-text="searchText" md-highlight-flags="^i">{{recipe.name}}</span>
    </md-item-template>
    <md-not-found>
        No recipes matching "{{searchText}}" were found.
    </md-not-found>
</md-autocomplete>
