
<div class="lock-size" layout="row" layout-align="center center">
    <md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right md-hover-full" md-open="menu.isOpen"
                       ng-mouseenter="menu.isOpen=true" ng-mouseleave="menu.isOpen=false">
        <md-fab-trigger>
            <md-button class="md-fab md-primary" aria-label="Search" href="#/home">
                <md-tooltip md-direction="left" md-visible="tooltipVisible">Search</md-tooltip>
                <md-icon md-svg-icon="img/search.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>
</div>
<div layout="row" layout-align="center">
    <div flex="80">
        <div layout="column">
            <form name="newRecipeForm">
                <div layout="row">
                    <md-input-container flex>
                        <label for="name">Recipe</label>
                        <input id="name" name="name" type="text" class="form-control" ng-model="newRecipe.name"
                               required>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label for="author">Author</label>
                        <input id="author" name="author" type="text" class="form-control" ng-model="newRecipe.author"
                               required>
                    </md-input-container>
                    <md-input-container flex>
                        <label for="description">Description</label>
                        <input id="description" type="text" class="form-control" ng-model="newRecipe.description">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label for="prepTime">Prep time</label>
                        <input id="prepTime" type="text" class="form-control" ng-model="newRecipe.prepTime">
                    </md-input-container>
                    <md-input-container flex>
                        <label for="inactiveTime">Inactive Time</label>
                        <input id="inactiveTime" type="text" class="form-control" ng-model="newRecipe.inactiveTime">
                    </md-input-container>
                    <md-input-container flex>
                        <label for="cookTime">Cook time</label>
                        <input id="cookTime" type="text" class="form-control" ng-model="newRecipe.cookTime">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label for="servings">Servings</label>
                        <input id="servings" type="text" class="form-control" ng-model="newRecipe.servings" flex>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-checkbox flex ng-model="newRecipe.options.isCrockPot">Crock Pot</md-checkbox>
                    <md-checkbox flex ng-model="newRecipe.options.isVegetarian">Vegetarian</md-checkbox>
                    <md-checkbox flex ng-model="newRecipe.options.isVegan">Vegan</md-checkbox>
                    <md-checkbox flex ng-model="newRecipe.options.isGlutenFree">Gluten-free</md-checkbox>
                    <md-checkbox flex ng-model="newRecipe.options.isDairyFree">Dairy-free</md-checkbox>
                </div>
                <ingredient-list ingredients="newRecipe.ingredients"></ingredient-list>
                <step-list steps="newRecipe.steps"></step-list>

                <div layout="row" layout-align="center">
                    <div flex="20">
                        <md-button class="md-primary md-raised" ng-click="save()" ng-disabled="!newRecipeForm.$valid">
                            Save
                        </md-button>
                        <md-button class="md-warn md-raised" ng-click="cancel()">Cancel</md-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

